
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

@import "~foundation-sites/scss/foundation.scss";
@include foundation-everything(true);

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.background{
  background-color: #ffffff;
}

.callout{
  border-color: #5b9613;
}

.menu-text{
  color: #36590c;
  font-style: oblique;
}
.menu-title{
  color: #36590c;
}
