
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

@import "~foundation-sites/scss/foundation.scss";
@include foundation-everything(true);

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.background{
  background-color: #ffffff;
}

.callout{
  border-color: #5b9613;
}

.img{
  padding:0px;
  margin:0px;
}


h2 , h3{
  font-style: oblique;
}

.title-bar{
  background-color:#E6E6E6;
}

a{
  font-size: 140%;
}